
@{
    ViewBag.Title = "Список таблиц";
}
<div class="btn-group-vertical">
    <p>Таблица "Секции"</p>
    <p><a class="btn btn-default" href="/Section">Перейти</a></p>
    <p>Таблица "Спортсмен"</p>
    <p><a class="btn btn-default" href="/Sportsman">Перейти</a></p>
    <p>Таблица "Соревнования"</p>
    <p><a class="btn btn-default" href="/Competition">Перейти</a></p>
    <p>Таблица "Участие"</p>
    <p><a class="btn btn-default" href="/Participation">Перейти</a></p>
</div>
